doctype html
html
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    // variables
    - let name = 'Fer'
    - 
        let obj = {
            key1 : 'asdfasd',
            key2 : '2sdfasd'            
        }

    // fin variables

    link(rel="stylesheet" href="/src/styles/main.css")
body
    h1= `Hola ${name}`
    h2= name
    p= `${obj.key1} y ${obj.key2}`